.meniufont{
    display:flex;
    justify-content:space-around;
    width: 50%;
    align-items: center;
    font-family:BPG Glaho WEB Caps Regular;
    
}
.logodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}
.saxlidiv{
   background-image: url('img/1x/saxli1.png');
   background-repeat:no-repeat;
   height:100%;
   width: 100%;



}

.saxlidiv1{ 
    height:500px;
    width: 100%;
    justify-content: CENTER;
    align-items: CENTER;
    display: flex;
    background: url('img/1x/saxli1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .rasvaketeb{
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 5%;





  }
.otxidivi{
 margin: 10px;
 max-width: 250px;
 
    
}
  

.chemshesaxeb{
    
    background-color: #F1F1F1;
   margin-top: 3%;
}
.imgscontainer::after{    content: "";
    width: 370px;
    position: absolute;
    left: 3%;
    height: 330px;
    margin-top: -297px;
    /* margin-top: 90px; */
    z-index: 0;
    background-color: #B8EDF8;
    margin-left: 80px;
    

}

.classone{
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.imgclass{    z-index: 5;
    
    position: relative;
    margin-top: 70px;}
.class2{display: flex;
    justify-content: center;
    flex-direction: column;


}
.span1 {
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}